{% extends 'base.html.twig' %}
{% block body %}

<center>
<h1><a href="{{ path('newsurvey') }}"><button style="width: 20em; background-color: #0DDD0D">New Survey</button></a></h1>
</center>

<hr>

Management:

<ul>
<li> <a href="{{ path('showall') }}">Show all Survey</a></li>
</ul>

<!--
<li> <a href="{{ path('public') }}">Go to Public</a></li>
<li> <a href="{{ path('private') }}">Go to Private</a></li>
-->


{% endblock %}

