{% extends 'base.html.twig' %}
{% block body %}

<h2>Small print</h2>


Clicking on button "New Survey", or any other link, or in any way
browsing this site, you accept to use the service "as is", in beta
version, without any explicit or implicit guarantee. You accept the
cookie law, if it applies in your country, or any other food related
law, including the religious rules applying to your community. You
accept to comply to the relevant laws and regulation of your country,
of the country hosting the server, of the clouds and the heavens, or
the underground if relevant. You accept the rules, laws or common
sense behaviour of every country the data flow is travelling thru',
including the countries occasionally touched by parts of fragmented
retransmitted packets.


{% endblock %}
